<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
   layout:decorator="fragmentos/global">
   <body>
      <div class="container">
         <div layout:fragment="contenido">
            <form role="form" class="needs-validation" method="post"
               th:object="${formatoDTO}" th:action="@{/formulario/pagina1}"
               novalidate>
               <div class="form-row bd-callout-info bd-callout active">
                  <!-- inician combos -->
                  
                  
                  <div class="col-sm-3" id="divDistritoF">
                     <label for="distritof">
                        <spam th:text="#{Texto.Distrito}"></spam>
                     </label>
                     <div class="form-group" th:fragment="divDistritoF">
                        <label for="distritof" th:text="#{Texto.Fed}"></label> 
                        <select 
                           onchange="cargarDistritoLocal(this,'divDistritoL')"
                           class="form-control" th:field="*{direccion.federal}" id="distritof" required>
                           <option value="" th:text="#{Texto.Select}"></option>
                           <option th:each="distrito : ${distritosFederales}"
                              th:value="${distrito.id}" th:text="${distrito.cabeceraFederal}"></option>
                        </select>
                     </div>
                  </div>
                 
                  <div class="col-sm-3" id="divDistritoL">
	                  <div th:fragment="divDistritoL" >
	                     <div class="">
	                        <label for="distrito">
	                           <spam> <br />
	                           </spam>
	                        </label>
	                     </div>
	                     <div class="form-group" >
	                        <label for="distritol" th:text="#{Texto.Loc}"></label> 
	                        <select
	                           onchange="cargarMunicipio(this,'divMunicipioB')"
	                           class="form-control" th:field="${formatoDTO.direccion.local}" id="distritol" required>
	                           <option value="0" th:text="#{Texto.Select}"></option>
	                           <option th:each="distritol : ${distritosLocales}"
	                              th:value="${distritol.id}" th:text="${distritol.cabecera}"></option>
	                        </select>
	                     </div>
	                  </div>
	                 </div>
                  
                  <div class="col-sm-6" id="divMunicipioB">
	                  <div th:fragment="divMunicipioB" >
	                     <div class="">
	                        <label for="distrito">
	                           <spam> <br />
	                           </spam>
	                        </label>
	                     </div>
	                     <div class="form-group">
	                        <label for="municipio" th:text="#{Texto.Municipio}"></label> 
	                        <select
	                           onchange="cargarLocalidad(this,'divLocalidad')"
	                           class="form-control" th:field="${formatoDTO.direccion.municipio}" id="municipio" required>
	                           <option value="0" th:text="#{Texto.Select}"></option>
	                           <option th:each="municipio : ${municipios}"
	                              th:value="${municipio.id}" th:text="${municipio.descripcion}"></option>
	                        </select>
	                     </div>
	                  </div>
                  </div>
                  
                  
                  <div class="col-sm-6" id="divLocalidad">
	                  <div th:fragment="divLocalidad" >
	                     
	                     <div class="form-group">
	                        <label for="localidad" th:text="#{Texto.Localidad}"></label> 
	                        <select
	                        onchange="cargarSeccion(this,'divSeccion')"
	                           class="form-control" th:field="${formatoDTO.direccion.localidad}" id="localidad" required>
	                           <option value="0" th:text="#{Texto.Select}"></option>
	                           <option th:each="localidad : ${localidades}"
	                              th:value="${localidad.id}" th:text="${localidad.descripcion}"></option>
	                        </select>
	                     </div>
	                  </div>
                  </div>
                  
                  <div class="col-sm-6" id="divSeccion">
	                  <div th:fragment="divSeccion" >
	                     
	                     <div class="form-group">
	                        <label for="seccion" th:text="#{Texto.seccionElectoral}"></label>
	                        <select  
	                         class="form-control" th:field="${formatoDTO.direccion.seccionElectoral}" id="seccion" required>
	                           <option value="0" th:text="#{Texto.Select}"></option>
	                           <option th:each="seccion : ${secciones}"
	                              th:value="${seccion.id}" th:text="${seccion.descripcion}"></option>
	                        </select>
	                     </div>
	                  </div>
                  </div>
                  <!-- terminan combos -->
                  <!-- ********************************************************** -->
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label for="nombre">
                           <spam th:text="#{Texto.Nombre}"></spam>
                        </label>
                        <input class="form-control" th:field="*{persona.nombre}" type="text" id="nombre"
                           th:placeholder="#{Texto.Nombre}" onkeypress="return sololetras(event)">
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label for="aPaterno">
                           <spam th:text="#{Texto.Paterno}"></spam>
                        </label>
                        <input class="form-control" th:field="*{persona.apPaterno}" type="text" id="aPaterno"
                           th:placeholder="#{Texto.Paterno}" onkeypress="return sololetras(event)">
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label for="aMaterno">
                           <spam th:text="#{Texto.Materno}"></spam>
                        </label>
                        <input class="form-control" th:field="*{persona.apMaterno}" type="text" id="aMaterno"
                           th:placeholder="#{Texto.Materno}" onkeypress="return sololetras(event)">
                     </div>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="col-sm-1">
                     <div class="form-group">
                        <label for="sexo">
                           <spam th:text="#{Texto.Sexo}">
                        </label>
                        <div class="form-group">
                           <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="hombre" name="sexo"
                              class="custom-control-input" th:field="*{persona.sexo}" th:value="#{Texto.Hombre}"><label
                                 class="custom-control-label" for="hombre"
                                 th:text="#{Texto.Hombre}"></label>
                           </div>
                           <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="mujer" name="sexo"
                              class="custom-control-input" th:field="*{persona.sexo}" th:value="#{Texto.Mujer}"><label
                                 class="custom-control-label" for="mujer"
                                 th:text="#{Texto.Mujer}"></label>
                           </div>
                        </div>
                     </div>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="col-sm-1">
                     <div class="form-group inp">
                        <label for="edad">
                           <spam th:text="#{Texto.Edad}"></spam>
                        </label>
                        <input class="form-control input-number" th:field="*{persona.edad}" type="text" id="edad" 
                           th:placeholder="#{Texto.Edad}" maxlength="3" onkeypress="return solonumeros(event)">
                     </div>
                  </div>
                  <!-- ********************************************************** -->
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label for="calle">
                           <spam th:text="#{Texto.Calle}"></spam>
                        </label>
                        <input class="form-control" th:field="*{direccion.calle}" type="text" id="calle"
                           th:placeholder="#{Texto.Calle}">
                     </div>
                  </div>
                  <div class="col-sm-1">
                     <div class="form-group">
                        <label for="numExterior">
                           <spam
                              th:text="#{Texto.NoExterior}"></spam>
                        </label>
                        <input class="form-control" th:field="*{direccion.numero_exterior}" type="text"
                           id="numExterior" th:placeholder="#{Texto.NoExterior}">
                     </div>
                  </div>
                  <div class="col-sm-1">
                     <div class="form-group">
                        <label for="numInterior">
                           <spam
                              th:text="#{Texto.NoInterior}"></spam>
                        </label>
                        <input class="form-control" th:field="*{direccion.numero_interior}" type="text"
                           id="numInterior" th:placeholder="#{Texto.NoInterior}">
                     </div>
                  </div>
                  <div class="col-sm-1">
                     <div class="form-group">
                        <label for="manzana">
                           <spam th:text="#{Texto.Mz}"></spam>
                        </label>
                        <input class="form-control" th:field="*{direccion.manzana}" type="text"
                           id="manzana" th:placeholder="#{Texto.Mz}" onkeypress="return solonumeros(event)">
                     </div>
                  </div>
                  <div class="col-sm-1">
                     <div class="form-group">
                        <label for="lote">
                           <spam th:text="#{Texto.Lote}"></spam>
                        </label>
                        <input class="form-control" th:field="*{direccion.lote}" type="text" id="lote"
                           th:placeholder="#{Texto.Lote}" onkeypress="return solonumeros(event)">
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label for="colonia">
                           <spam th:text="#{Texto.Colonia}"></spam>
                        </label>
                        <input class="form-control" th:field="*{direccion.colonia}" type="text" id="colonia"
                           th:placeholder="#{Texto.Colonia}">
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="form-group">
                        <label for="mzMapa">
                           <spam th:text="#{Texto.MzMapa}"></spam>
                        </label>
                        <input class="form-control" th:field="*{direccion.mz_mapa}" type="text" id="mzMapa"
                           th:placeholder="#{Texto.MzMapa}">
                     </div>
                  </div>
                  <!-- ********************************************************** -->
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label for="telCasa">
                           <spam
                              th:text="#{Texto.TelefonoCasa}"></spam>
                        </label>
                        <input class="form-control input-number" th:field="*{persona.telefonoCasa}" type="text"
                           id="telCasa" maxlength="10"
                           th:placeholder="#{Texto.TelefonoCasa}" onkeypress="return solonumeros(event)">
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label for="celular">
                           <spam th:text="#{Texto.Celular}"></spam>
                        </label>
                        <input class="form-control input-number" th:field="*{persona.celular}" type="text"
                           id="celular" maxlength="10" th:placeholder="#{Texto.Celular}" onkeypress="return solonumeros(event)">
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label for="referencia">
                           <spam
                              th:text="#{Texto.ReferenciaLugar}"></spam>
                        </label>
                        <input class="form-control" th:field="*{direccion.referencia}" type="text" id="referencia"
                           th:placeholder="#{Texto.ReferenciaLugar}">
                     </div>
                  </div>
               </div>
               <!-- eyenda saludo -->
               <div class="form-row bd-callout-info bd-callout active">
                  <div class="col-sm-12">
                     <div class="form-group"></div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label for="saludoUno">
                           <spam
                              th:text="#{Texto.SaludoUno}"></spam>
                        </label>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <input class="form-control" th:field="*{general.entrevistador}" type="text" id="nombre" onkeypress="return sololetras(event)">
                     </div>
                  </div>
                  <div class="col-sm-12">
                     <div class="form-group">
                        <label for="textoDos">
                           <spam th:text="#{Texto.TextoDos}"></spam>
                        </label>
                     </div>
                  </div>
               </div>
               <!--       ***********+********* -->
               <!--       ********************* -->
               <!--       *********************              -->
               <div class="form-row bd-callout-info bd-callout active">
                  <div class="col-sm-1 gray"></div>
                  <div class="col-sm-10 gray">
                     <!--  <p th:text="#{Titulo.Encuesta}"></p> -->
                  </div>
                  <div class="col-sm-1 gray"></div>
                  <!-- Pregunta1 -->
                  <div class="col-sm-12">
                     <div class="form-group">
                        <label for="preg1">
                           <spam th:text="#{Texto.Preg1}"></spam>
                        </label>
                        <!-- th:field="*{perdidas.isGanado}" -->
                        <div class="form-group">
                           <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="si" name="preg1"  th:field="*{pregunta1.respuesta}" 
                                 class="custom-control-input" th:value="#{Texto.Si}">
                              <label
                                 class="custom-control-label" for="si" th:text="#{Texto.Si}"></label>
                           </div>
                           <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="no" name="preg1"
                                 class="custom-control-input" th:field="*{pregunta1.respuesta}"  th:value="#{Texto.No}">
                                  <label
                                 class="custom-control-label" for="no" th:text="#{Texto.No}"></label>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-1 gray"></div>
                  <!-- Pregunta2 -->
                  <div class="col-sm-12">
                     <label for="preg2">
                        <spam th:text="#{Texto.Preg2}"></spam>
                     </label>
                     <!-- th:field="*{perdidas.isGanado}" -->
                     <!--  <div class="form-group"></div>-->
                  </div>
                  <div class="col-sm-8">
                     <div class="form-group">
                        <div class="custom-control custom-radio custom-control-inline">
                           <input type="radio" id="option1" name="preg2"
                              class="custom-control-input" th:value="#{Texto.Si}"
                              th:field="*{pregunta2.respuesta}" 
                              > <label
                              class="custom-control-label" for="option1"
                              th:text="#{Texto.Si}"></label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                           <input type="radio" id="option2" name="preg2"
                              class="custom-control-input" th:value="#{Texto.No}"
                              th:field="*{pregunta2.respuesta}"  > <label
                              class="custom-control-label" for="option2"
                              th:text="#{Texto.No}"></label>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12"></div>
                  <!-- Pregunta 3 -->
                  <div class="col-sm-12">
                     <div class="form-group">
                        <label for="preg3">
                           <spam th:text="#{Texto.Preg3}"></spam>
                        </label>
                        <!-- th:field="*{perdidas.isGanado}" -->
                        <div class="custom-control custom-radio custom-control-inline">
                           <input type="radio" id="pregS" name="preg3"
                              class="custom-control-input" th:field="*{pregunta3.respuesta}"  th:value="#{Texto.Si}"> <label
                              class="custom-control-label" for="pregS" th:text="#{Texto.Si}"></label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                           <input type="radio" id="pregN" name="preg3"
                              class="custom-control-input" th:field="*{pregunta3.respuesta}"  th:value="#{Texto.No}"> <label
                              class="custom-control-label" for="pregN" th:text="#{Texto.No}"></label>
                        </div>
                     </div>
                  </div>
                  <!-- Prgunta 4 -->
                  <div class="col-sm-12">
                     <div class="form-group">
                        <label for="preg4">
                           <spam th:text="#{Texto.Preg4}"></spam>
                        </label>
                        <!-- th:field="*{perdidas.isGanado}" -->
                        <input class="form-control" th:field="*{pregunta4_1.respuesta}" type="text" id="problema1"
                           th:placeholder="#{PlaceHolder.prom1}"> <input
                           class="form-control" th:field="*{pregunta4_2.respuesta}" type="text" id="problema2"
                           th:placeholder="#{PlaceHolder.prom2}"> <input
                           class="form-control" th:field="*{pregunta4_3.respuesta}" type="text" id="problema3"
                           th:placeholder="#{PlaceHolder.prom3}">
                     </div>
                  </div>
                  <!-- Pregunta 5 -->
                  <div class="col-sm-12">
                     <label for="preg5">
                        <spam th:text="#{Texto.Preg5}"></spam>
                     </label>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label for="estado">
                           <spam th:text="#{Texto.Alumbrado}"></spam>
                        </label>
                        <input class="form-control input-number" maxlength="2" th:field="*{pregunta5_1.respuesta}" type="text" id="alumbrado" onkeypress="return solonumeros(event)">
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label for="region">
                           <spam th:text="#{Texto.Recoleccion}"></spam>
                        </label>
                        <input class="form-control input-number" maxlength="2" th:field="*{pregunta5_2.respuesta}" type="text" id="recoleccion" onkeypress="return solonumeros(event)">
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label for="Transporte">
                           <spam
                              th:text="#{Texto.Transporte}"></spam>
                        </label>
                        <input class="form-control input-number" maxlength="2" th:field="*{pregunta5_3.respuesta}" type="text" id="Transporte" onkeypress="return solonumeros(event)">
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label for="Pavimentacion">
                           <spam
                              th:text="#{Texto.Pavimentacion}"></spam>
                        </label>
                        <input class="form-control input-number" maxlength="2" th:field="*{pregunta5_4.respuesta}" type="text" id="Pavimentacion" onkeypress="return solonumeros(event)">
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label for="Espacios">
                           <spam th:text="#{Texto.Espacios}"></spam>
                        </label>
                        <input class="form-control input-number" maxlength="2" th:field="*{pregunta5_5.respuesta}" type="text" id="Espacios" onkeypress="return solonumeros(event)">
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label for="Internet">
                           <spam th:text="#{Texto.Internet}"></spam>
                        </label>
                        <input class="form-control input-number" maxlength="2" th:field="*{pregunta5_6.respuesta}" type="text" id="Internet" onkeypress="return solonumeros(event)">
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label for="Agua">
                           <spam th:text="#{Texto.Agua}"></spam>
                        </label>
                        <input class="form-control input-number" maxlength="2" th:field="*{pregunta5_7.respuesta}" type="text" id="Agua" onkeypress="return solonumeros(event)">
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label for="Vigilancia">
                           <spam
                              th:text="#{Texto.Vigilancia}"></spam>
                        </label>
                        <input class="form-control input-number" maxlength="2" th:field="*{pregunta5_8.respuesta}" type="text" id="Vigilancia" onkeypress="return solonumeros(event)">
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label for="Atencion">
                           <spam th:text="#{Texto.Atencion}"></spam>
                        </label>
                        <input class="form-control input-number" maxlength="2" th:field="*{pregunta5_9.respuesta}" type="text" id="Atencion" onkeypress="return solonumeros(event)">
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label for="Drenaje">
                           <spam th:text="#{Texto.Drenaje}"></spam>
                        </label>
                        <input class="form-control input-number" maxlength="2" th:field="*{pregunta5_10.respuesta}" type="text" id="Drenaje" onkeypress="return solonumeros(event)">
                     </div>
                  </div>
                  <!-- Pregunta 6 -->
                  <div class="col-sm-12">
                     <div class="form-group">
                        <label for="preg6">
                           <spam th:text="#{Texto.Preg6}"></spam>
                        </label>
                        <!-- th:field="*{perdidas.isGanado}" -->
                        <input class="form-control" th:field="*{pregunta6_1.respuesta}" type="text" id="propuesta1"
                           th:placeholder="#{PlaceHolder.prop1}"> <input
                           class="form-control" th:field="*{pregunta6_2.respuesta}"  type="text" id="propuesta2"
                           th:placeholder="#{PlaceHolder.prop2}"> <input
                           class="form-control" th:field="*{pregunta6_3.respuesta}"  type="text" id="propuesta3"
                           th:placeholder="#{PlaceHolder.prop3}">
                     </div>
                  </div>
                  <!-- Pregunta 7 -->
                  <div class="col-sm-12">
                     <div class="form-group">
                        <label for="preg7">
                           <spam th:text="#{Texto.Preg7}"></spam>
                        </label>
                        <!-- th:field="*{perdidas.isGanado}" -->
                        <div class="custom-control custom-radio custom-control-inline">
                           <input type="radio" id="opti1" name="preg7"
                              class="custom-control-input" th:field="*{pregunta7.respuesta}" th:value="#{Texto.Si}"> <label
                              class="custom-control-label" for="opti1" th:text="#{Texto.Si}"></label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                           <input type="radio" id="opti2" name="preg7"
                              class="custom-control-input" th:field="*{pregunta7.respuesta}" th:value="#{Texto.No}"> <label
                              class="custom-control-label" for="opti2" th:text="#{Texto.No}"></label>
                        </div>
                     </div>
                  </div>
                  <!-- Pregunta 8 -->
                  <div class="col-sm-12">
                     <div class="form-group">
                        <label for="preg8">
                           <spam th:text="#{Texto.Preg8}"></spam>
                        </label>
                        <!-- th:field="*{perdidas.isGanado}" -->
                        <div class="custom-control custom-radio custom-control-inline">
                           <input type="radio" id="opp1" name="preg8"
                              class="custom-control-input" th:field="*{pregunta8.respuesta}" th:value="#{Texto.Si}"> <label
                              class="custom-control-label" for="opp1" th:text="#{Texto.Si}"></label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                           <input type="radio" id="opp2" name="preg8"
                              class="custom-control-input" th:field="*{pregunta8.respuesta}" th:value="#{Texto.No}"> <label
                              class="custom-control-label" for="opp2" th:text="#{Texto.No}"></label>
                        </div>
                     </div>
                  </div>
                  <!-- Pregunta 9 -->
                  <div class="col-sm-12">
                     <div class="form-group">
                        <label for="preg9">
                           <spam th:text="#{Texto.Preg9}"></spam>
                        </label>
                        <!-- th:field="*{perdidas.isGanado}" -->
                        <div class="custom-control custom-radio custom-control-inline">
                           <input type="radio" id="op1" name="preg9"
                              class="custom-control-input" th:field="*{pregunta9.respuesta}" th:value="#{Texto.Si}"> <label
                              class="custom-control-label" for="op1" th:text="#{Texto.Si}"></label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                           <input type="radio" id="op2" name="preg9"
                              class="custom-control-input" th:field="*{pregunta9.respuesta}" th:value="#{Texto.No}"> <label
                              class="custom-control-label" for="op2" th:text="#{Texto.No}"></label>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 text-right">
                     <div class="form-group">
                        <br>
                        <br>
                        <button class="btn btn-primary pull-right" type="submit" th:text="#{Boton.Aceptar}"></button>
                     </div>
                  </div>
               </div>
               <footer>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="col-sm-12">
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
               </footer>
            </form>
            
         </div>
      </div>
   </body>
</html>